*{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header style*/

.header{
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-tea-cozy-logo.png");
  background-repeat: no-repeat;
  background-size: contain; */
  height: 69px;
  border-bottom: 1px solid seashell;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.header img{
  align-content: center;
}

#nav ul{
  text-align: right;
  background-color:
}

#nav li{
  text-decoration: underline;
  display: inline-block;
}

/* Mission section style */

.hero{
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mission{
  background-color: black;
}

/* Tea of the Month style */

.featuredtea{
  width: 1000px;
}

.box{
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
}

/* Locations style */

.locations{
  width: 1200px;
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.locations .block{
  display: flex;
  justify-content:
}

#flex{
  display: flex;
}
